/*  Esto es lo que hay que usar para que cambie si esta en mobil
@media only screen and (max-width: 768px) {
*/

.background{
    background-color: #00ADBDFF;
    background: linear-gradient(#00ADBDFF, #00ADBD00);
    border: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    background-position-x: 0;
    background-position-y: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background-size: cover;

}

#WelcomePage{
    padding: 0px;
    border: 0px;
    margin: 0px;

}
#WelcomePage:active{
    background-color: darkblue;
}


body {
  justify-content: start;
  margin-left: 0rem;
  margin-right: 0rem;
  margin: 0px;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: start;
}


/*STYLE FOR ELEMENTS---------------------------------------------------------------------------------------------------*/

.vl {
  border-left: 2px solid rgb(201, 201, 201);
  height: 100%;
  position: absolute;
  right: 25%;
}

.profile_header{
  height: 330px;
  width: 100vw; /* 100vw hace que pille todo el ancho del navegador*/
}


.header {
  display:grid;
  text-align: center;
  background: linear-gradient(#00adbdf6, #00adbd38);
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: start;
  width:100vw;
}

.header h2{
  color: black;
  font-size: 50px;
  grid-row-start: 1;
  grid-column-start: 3;
}

.profile_info {
  margin: 40px;
  margin-left: 135px;
  margin-top: 110px;
  margin-bottom: 0px;
  width: 60vw;
}

.profile_info article {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

#app {
  max-width: 1920px;
  margin: 0px;
  font-family: inter;
  font-weight: medium;
}

#OpenEvents{
    font-size: 64px;
}

/*.navbar{
  margin-top: 15px;
  border-style: solid;
  border-color: #888888;
  padding: 10px;
  position: absolute;
  top: 0;
}*/


#PageTitle{
  display: flex;
  align-content: center;
  justify-content:top;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
}

/*Events and statistics_________________________________________________*/
.events_statistics_background{
  border: 25px;
  border-radius: 10px;
  width: 65vw;
  position: absolute;
  left: 5%;
  background: linear-gradient(#00ADBD, #D9D9D9);
}

.event_group{
  display: flex;
  flex-wrap: wrap;
}

.events_statistics_buttons{
  width: 215px;
  display: flex;
  justify-content: space-between;  
  left: 5%;
  position: relative;
  top: 12px;
  z-index: -1;
}

/*Event elements_____________________*/
.basic_event{
  width: 415px;
  height: 200px;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
  margin: 5px;
  
}

.footer_basicEvent{
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
  position: absolute;
  top: 140px;
}

.info_basicEvent{
  position: absolute;
  left:310px;
  top: 7px;
  display:flex;
  flex-direction: column;

}

.events_statistics_background div{
  display: flex;
  margin-bottom: 1%;
  margin-top: 1%
}

div .button_flex {
  display: flex;
  margin-left: 7px;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
 }

 .profile_info div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}

.profile_info div .user_rating{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin:5px;
}

.events_statistics_background div{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.profile_info .button_flex{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  position: absolute;
  top: 480px;
  right: 26%;
  
 }

 .profile_friends{
  display: flex;
  width: 25vw;
  flex-direction: column;
  /*background: red;*/
  position: absolute;
  right: 0px;
  top: 490px;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
 }

 .profile_friends div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
 }

 .profile_friends div div{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: auto;
 }

@media only screen and (max-width: 768px) {
  
  .vl {
    display: none;
    border-left: 6px solid green;
    height: 500px;
  }


  .profile_header{
    height: 134px;
    width: 100vw; /* 100vw hace que pille todo el ancho del navegador*/
  }

  .profile_info div .user_rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin:5px;
  }

  .profile_info {
    margin: 40px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 80vw;
  }

.events_statistics_background{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 88vw;
  left: 1%;
  background: linear-gradient(#00ADBD, #D9D9D9);
}

.event_group{
  display: flex;
  flex-wrap: wrap;
}

/*Event elements_____________________*/
.basic_event{
  width: 100vw;
  height: 140px;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
  margin: 5px;
  margin-bottom: 12px;
}

.footer_basicEvent{
  width: 100%;
  height: 40%;
  top: 5%;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
  position: absolute;
  top: 90px;
}

.info_basicEvent{
  position: relative;
  left: 25%;
  top: 10%;
  display:flex;
  flex-direction: column;

}

.events_statistics_background div{
  display: flex;
  margin-bottom: 6%;
  margin-top: 5%
}

.profile_info .button_flex{
  display: flex;
  flex-direction: row;
  margin-left: 7px;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  position: initial;
  top: initial;
  right: initial;
 }

 .profile_friends{
  display: none;
 }
}

/*STYLE FOR IMAGES-----------------------------------------------------------------------------------------------------*/

/*Profile images_____________________*/
.profilePic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 3.5px;
  object-fit: cover;
  object-position: 100% 0;
  position: relative;
  left: 5%;
  top: -60%;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7))
}
.landscape{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*Icon_______________________________*/
.icon{
  object-fit: cover;
  margin: 2px;
  width: 20px;
  height: 20px;
}

button-icon img{
  width: 60px;
  height: 60px;
}

/*Event images_______________________*/
.event_img{
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(75%);
  
}

.user_rating img{
  width: 13px;
  margin: 1px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3))
}

.profile_friends img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 0;
  position: relative;
  left: 0%;
}

@media only screen and (max-width: 768px) {

  .profilePic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1.5px;
    object-fit: cover;
    object-position: 100% 0;
    position: relative;
    left: 5%;
    top: -80%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7))
  }

  .event_img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(75%);
  }

  .icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 2px;
  }

  button-icon img{
    width: 20px;
    height: 20px;
  }

  .profile_info div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;
  }

  
}

/*STYLE FOR BUTTONS-----------------------------------------------------------------------------------------------------*/

.profileButtons{
  display: flex;
  justify-content: safe;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  left: 180px;
  top: 280px;
  font-family: inter;
  font-size: 14px;
}

.card {
  padding: 2em;
}

button {
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.25em 0.5em;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: linear-gradient(#00adbdf6, #00adbd44);
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4))

}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile_info div button{
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
  background: #C772BA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: inter;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

button-icon{
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.20em 0.5em;
  padding-top: 10px;
  margin-right: 20px;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: #CCCCCC;
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
}

.events_statistics_background button-icon{
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 3%;
  background:#C772BA;
}

.events_statistics_background button{
  font-family: inter;
  font-size: 15px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
  background: #F9E4CE;
}

button.eventStatistics{
  border-radius: 10px 10px 0px 0px;
  padding: 0.25em 0.5em 1em;
  font-family: inter;
  background: linear-gradient(#2F7177, #00ADBD);
  cursor: pointer;
  color: white;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.0));
}

button.eventStatistics_Nselected{
  border-radius: 10px 10px 0px 0px;
  padding: 0.25em 0.5em 1em;
  font-family: inter;
  background: linear-gradient(#25585D, #06AEBE);
  cursor: pointer;
  color: white;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}

@media only screen and (max-width: 768px) {

  .events_statistics_background button{
    font-family: inter;
    font-size: 15px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    background: #F9E4CE;
  }

  .profile_info div button{
    background: #C772BA;
    padding: 3%;
    padding-right: 15%;
    padding-left: 5%;
    font-family: inter;
    color: white;
  }

  button-icon{
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.20em 0.5em;
  padding-top: 10px;
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: #CCCCCC;
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
  }

  .profile_info div button{
    margin-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 30px;
    background: #C772BA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: inter;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
  }
}

  .events_statistics_background button:hover {
    background: #C5A17C;
  }
  
  .events_statistics_background button:focus,
  .events_statistics_background button:focus-visible {
    background: #C5A17C;
    color: white;
  }



/*Router links-----------------------------*/
router-link{
  border-style: solid;
    border-color: #888888;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    background: aliceblue;
    margin: 10px

}

router-link:hover {
  background: azure;
}

/*STYLE FOR INPUTS----------------------------------------------------------------------------------------------------------*/
/* !! search bar i sing_in_output són iguals, només hauria d'haver 1*/
.searchbar{
  width: 260px;
  height: 5px;
  padding: 20px 40px 20px 20px;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.Sign_in_box{
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: wrap;
}
.Sign_in_box h1{
  margin: 50px;
}
.sign_in_input{
  width: 260px;
  height: 5px;
  margin:5px;
  padding: 20px 40px 20px 20px;
  border: 0px;
  background-color: white;
  border-radius: 20px;
}

.sign_in_input:focus{
  outline:1px;
  outline-style: solid;
}

.sign_in_button{
  margin: 30px;
  width: 100px;
  height: 45px;
  background: linear-gradient(180deg, #E481DB 0%, rgba(228, 129, 219, 0.38) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign_in_button p{
  margin: 0px;
  color: white;
  font-family:inter;
  font-weight:bold;
}

.register_here{
  display:flex;
  flex-direction: row;
}
.register_here button{
  color: #E763DB;
  text-decoration: underline;
  background: #00000000;
  filter:none;
  outline: none;
}

.register_here button:active{
  color: #2c2590;
}
.register_here *{
  font-size: 12px;
}
/*STYLE FOR TEXT-------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-ExtraLight-BETA.ttf");
  font-weight: light;
}

@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-Regular.ttf");
}


@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-Bold.ttf");
  font-weight: bold;
}

h2.tittle_basicEvent{
  font-family: inter;
  position: absolute;
  font-size: 28px;
  color: #233466;
  top: -12px;
  left: 15px;
}

p.datetime_basicEvent{
  font-family: inter;
  font-size: 12px;
  color: #233466;
  position: absolute;
  top: -15px;
  left: 25px;
  font-weight: bold;
}

p.localization_basicEvent{
  font-family: inter;
  font-size: 15px;
  position: absolute;
  color: #233466;
  top: 15px;
  left: 25px;
  font-weight: bold;
}

p#logo_title{
  font-size: 40px;
  margin: 10px;
}

.profile_friends h1{
  font-family: inter;
  font-weight: bold;
  font-size: 35px;
  align-self: center;
}

.profile_friends h3{
  font-family: inter;
  font-weight: bold;
  font-size: 25px;
  margin: 0px;
  margin-left: 10px;
}

.profile_friends h5{
  font-family: inter;
  font-size: 18px;
  font-weight: 100;
  margin: 0px;
  margin-left: 13px;
  color: #575757c7;
}

.profile_info h1{
  font-family: inter;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom:0px;
}

.profile_info article h4{
  font-family: inter;
  font-weight: 100;
  font-size: 20px;
  margin: 2px;
  margin-top: -8px;
  margin-left: 10px;
  color: #575757c7;
}

.profile_info h4{
  font-family: inter;
  font-weight: 100;
  font-size: 22px;
  margin-top: -25px;
  margin-left: 5px;
  margin-bottom: 0px;
  color: #C772BA;
}

.profile_info p {
  font-family: inter;
  font-size: 20px;
  margin-top: 6px;
  color: #575757c4;
}

hr {
  display: none;
  margin-top: 15px;
  margin-bottom: 10px;
  color:#88888857;
}

.profile_friends hr {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 80%;
  background-color: #024e55;
}

.user_rating h5{
  margin: 0px;
  margin-left: 3px;
  font-family: inter;
  font-size: 10px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  color:#024e55;
}

@media only screen and (max-width: 768px) {
  
  hr {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    color:#88888857;
  }  
  
  .profile_info h1{
    font-family: inter;
    font-size: 25px;
    margin-bottom: 0px;
  }
  
  .profile_info article h4{
    font-family: inter;
    font-weight: 100;
    font-size: 16px;
    margin: 28px;
    margin-top: 0px;
    margin-left: 5px;
    color: #575757c7;
  }
  
  
  h2.tittle_basicEvent{
    font-family: inter;
    position: absolute;
    font-size: 20px;
    color: #233466;
    top: -0px;
    left: 15px;
  }

  .profile_info h4{
    font-family: inter;
    font-weight: 100;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 5px;
    margin-bottom: 0px;
    color: #C772BA;
  }

  .profile_info p {
  font-family: inter;
  margin-top: 6px;
  font-size: initial;
  color: #575757c4;
}

  p.datetime_basicEvent{
    font-family: inter;
    font-size: 11px;
    color: #233466;
    position: absolute;
    top: -15px;
    left: 30px;
    font-weight: bold;
  }
  
  p.localization_basicEvent{
    font-family: inter;
    font-size: 13px;
    position: absolute;
    color: #233466;
    top: 12px;
    left: 25px;
    font-weight: bold;
  }
}