/*  Esto es lo que hay que usar para que cambie si esta en mobil
@media only screen and (max-width: 768px) {
*/

.background{
    background-color: #00ADBDFF;
    background: linear-gradient(#00ADBDFF, #00ADBD00);
    border: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    background-position-x: 0;
    background-position-y: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background-size: cover;

}

#WelcomePage{
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

#WelcomePage:active{
  filter:saturate(200%)
}


body {
  justify-content: start;
  margin-left: 0rem;
  margin-right: 0rem;
  margin: 0px;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: start;
}


/*STYLE FOR ELEMENTS---------------------------------------------------------------------------------------------------*/

/*Generic Flex position elements_______________________*/
.centered_horitzontal{
  display: flex;
  justify-content: center;
}

.centered_vertical{
  display: flex;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.flex_row_wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
/*_____________________________________________*/

.profile_header{
  height: 134px;
  width: 100vw; /* 100vw hace que pille todo el ancho del navegador*/
}

.header {
  display:flex;
  text-align: center;
  background: linear-gradient(#00adbdf6, #00adbd38);
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  width:100vw;
  
}

/*Profile elements_________________*/
.profile_info {
  margin: 40px;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 0px;
  width: 80vw;
}

.profile_info > * > *  {
  margin:2px;
}


.punctuation, .punctuation h5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:3px;
  font-size: 12px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  color:#024e55;
}

#app {
  max-width: 1920px;
  margin: 0px;
  font-family: inter;
  font-weight: medium;
  /*display: flex;
  flex-direction: column;
  align-items: center;*//*necesario para centrar todas las paginas, utilizar general_page_box, no lo cmabio aun pork os lo destrozzo*/
}

#PageTitle{
  display: flex;
  align-content: center;
  justify-content:top;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
}

/*Events and statistics_________________________________________________*/
.events_statistics_background{
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  width: 88vw;
  left: 1%;
  position: absolute;
  background: linear-gradient(#00ADBD, #D9D9D9);
}

.event_group{
  display: flex;
  flex-wrap: wrap;
}

.events_statistics_buttons{
  width: 190px;
  display: flex;
  justify-content: space-between;  
  left: -3px;
  top: -30px;
  position: absolute;
  z-index: 0;
}

/*Timeline elements__________________*/
#timeline{
  width: 98%;
  height: 250px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px 8px 8px 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.timeline_header{
  background-color: rgba(255,255,255,1);
  border-radius: 8px 8px 0px 0px;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#line{
  content: '';
  width: 100%;
  height: 7px;
  background-color: #235F65;
  position: relative;
  top: 70px;
}

#Abril2021{
  position: absolute;
  left:15%;
  top: 105px;
}

#Noviembre2021{
  position: absolute;
  left:30%;
  top: 105px;
}

#Marzo2023{
  position: absolute;
  left:75%;
  top: 105px;
}

/*Event elements_____________________*/
.basic_event{
  width: 100vw;
  height: 140px;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
  margin: 5px;
  margin-bottom: 12px;
  display: flex;
}

.footer_basicEvent{
  width: 100%;
  height: 40%;
  top: 5%;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
  position: absolute;
  top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_basicEvent > *{
  margin: 10px;
}
.footer_basicEvent > div > div > p{
  margin: 3px;
}

/*Timeline elements_____________________*/
div.background_white_opac{
  width: 98%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px 8px 8px 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Timeline events_______*/
.timeline_event{
  height: 170px;
  width: 95%;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
  margin: 0px 0px 18px 10px;
  display: flex;
}

.footer_timelineEvent{
  width: 100%;
  height: 50%;
  top: 5%;
  border-radius: 0px 0px 8px 8px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_timelineEvent > *{
  margin: 10px;
}
.footer_timelineEvent > div > *, .footer_timelineEvent > div > div > p{
  margin: 1px;
}

.footer_timelineEvent > div > div > img{ display:none;}

@media (min-width: 437px) {

  .footer_timelineEvent > div > div > img{ display:block;}
}


/*______________________________________*/
div .button_flex {
  display: flex;
  margin-left: 7px;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
 }

.filter_events{
  display: flex;
  margin-bottom: 2%;
  margin-top: 1%;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.profile_info .button_flex{
  display: flex;
  flex-direction: row;
  margin-left: -1px;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  position: initial;
  top: initial;
  right: initial;
 }

 .profile_friends div div> *{
    margin:2px;
 }


@media (min-width: 768px) {
  
  .profile_header{
    height: 330px;
    width: 100vw; /* 100vw hace que pille todo el ancho del navegador*/
  }

  .profile_info {
    margin: 40px;
    margin-left: 100px;
    margin-top: 140px;
    margin-bottom: 30px;
    width: 65vw;
  }

.events_statistics_background{
  border: 25px;
  border-radius: 10px;
  width: 65vw;
  position: absolute;
  margin-top: 30px;
  left: 5%;
  background: linear-gradient(#00ADBD, #D9D9D9);
}

.events_statistics_buttons{
  width: 190px;
  display: flex;
  justify-content: space-between;  
  left: -3px;
  top: -30px;
  position: absolute;
  z-index: -1;
}

.event_group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

/*Event elements_____________________*/
.basic_event{
  width: 400px;
  height: 200px;
}

.footer_basicEvent{
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
  position: absolute;
  top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_events{
  display: flex;
  margin-bottom: 2%;
  margin-top: 3%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

 .profile_info .button_flex{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  position: absolute;
  top: 460px;
  right: 26%;
 }

 .profile_friends{
  display: flex;
  width: 25vw;
  flex-direction: column;
  /*background: red;*/
  position: absolute;
  right: 0px;
  top: 470px;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
 }

 .timeline_event{
  width: 370px;
  }

}

 .profile_friends::before{
  content:'';
  width:2px;
  height: 100%;
  background-color: rgb(201, 201, 201);
  position:absolute;
  top:20px;
  left: 10px;

  
 }

@media (max-width: 1083px) {
  .profile_info .button_flex{
  position:unset;
}
}

@media (max-width: 1083px) {
  .profile_friends{
    display: none;
    }
}

/*STYLE FOR IMAGES-----------------------------------------------------------------------------------------------------*/

/*Profile images_____________________*/
.profilePic{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1.5px;
  object-fit: cover;
  object-position: 100% 0;
  position: relative;
  left: 5%;
  top: -80%;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7))
}

.landscape{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*Icon_______________________________*/
.icon{
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin: 2px;
}

button-icon img{
  width: 20px;
  height: 20px;
}

button-icon .icon{
  width: 20px;
  height: 20px;
}

.filter_events button-icon .icon{
  width: 20px;
  height: 20px;
}

/*Event images_______________________*/
.event_img{
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(75%);
}

img.stars{
  width: 15px;
  height: 15px;
  margin: 1px;
  
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3))
}

.profile_friends img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 0;
  position: relative;
  left: 0%;
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {

  .profilePic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3.5px;
    object-fit: cover;
    object-position: 100% 0;
    position: relative;
    left: 5%;
    top: -60%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7))
  }

  .event_img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(75%);
    
  }

  .icon{
    object-fit: cover;
    margin: 2px;
    width: 20px;
    height: 20px;
  }

  button-icon .icon{
    width: 40px;
    height: 40px;
  }
  
}

/*STYLE FOR BUTTONS-----------------------------------------------------------------------------------------------------*/

.profileButtons{
  display: flex;
  justify-content: safe;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  left: 165px;
  top: 345px;
  font-family: inter;
  font-size: 14px;
}

.card {
  padding: 2em;
}

button {
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.25em 0.5em;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: linear-gradient(#00adbdf6, #00adbd44);
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4))
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile_info div button {
  margin-right: 10px;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-right: 30px;
  background: #C772BA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: inter;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 36px;
}

button-icon{
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.20em 0.5em;
  padding-top: 10px;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: #CCCCCC;
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
  }

.events_statistics_background button-icon{
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 3%;
  background:#C772BA;
}

.events_statistics_background button{
  font-family: inter;
  font-size: 15px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
  background: #F9E4CE;
}

button.eventStatistics{
  border-radius: 10px 10px 0px 0px;
  padding: 0.25em 0.5em 1em;
  font-family: inter;
  background: linear-gradient(#2F7177, #00ADBD);
  cursor: pointer;
  color: white;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.0));
  outline: none;
}

button.eventStatistics_Nselected{
  border-radius: 10px 10px 0px 0px;
  padding: 0.25em 0.5em 1em;
  font-family: inter;
  background: linear-gradient(#25585D, #06AEBE);
  cursor: pointer;
  color: white;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
  outline: none;
}

.filter_events button{
  font-family: inter;
  font-size: 15px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
  background: #F9E4CE;
}

@media only screen and (min-width: 768px) {

  .profile_info div button{
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    background: #C772BA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: inter;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
 
  button-icon{
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.20em 0.5em;
  padding-top: 10px;
  margin-right: 20px;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: #CCCCCC;
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4));
}

button.eventStatistics{
  border-radius: 10px 10px 0px 0px;
  padding: 0.25em 0.5em 1em;
  font-family: inter;
  background: linear-gradient(#2F7177, #00ADBD);
  cursor: pointer;
  color: white;
  filter: none;
  outline: none;
}

button.eventStatistics_Nselected{
  border-radius: 10px 10px 0px 0px;
  padding: 0.25em 0.5em 1em;
  font-family: inter;
  background: linear-gradient(#25585D, #06AEBE);
  cursor: pointer;
  color: white;
  filter: none;
  outline: none;
}

}

  .events_statistics_background button:hover {
    background: #C5A17C;
  }
  
  .events_statistics_background button:focus,
  .events_statistics_background button:focus-visible {
    background: #C5A17C;
    color: white;
  }

/*Router links-----------------------------*/
router-link{
  border-style: solid;
    border-color: #888888;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    background: aliceblue;
    margin: 10px
}

router-link:hover {
  background: azure;
}

/*STYLE FOR INPUTS----------------------------------------------------------------------------------------------------------*/
/* !! search bar i sing_in_output són iguals, només hauria d'haver 1*/
.searchbar{
  width: 260px;
  height: 5px;
  padding: 20px 40px 20px 20px;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.register_box{
  display: flex;
  flex-direction: column;
  
}

.Sign_in_box{
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: nowrap;
}

.Sign_in_box h1{
  margin: 50px;
}

.sign_in_input{
  width: 260px;
  height: 5px;
  margin:5px;
  padding: 20px 40px 20px 20px;
  border: 0px;
  background-color: white;
  border-radius: 20px;
}

.sign_in_input:focus{
  outline:1px;
  outline-style: solid;
}

.sign_in_button{
  margin: 30px;
  display: flex;
  width: 100px;
  height: 45px;
  border-radius: 15px;
  background: linear-gradient(180deg, #E481DB 0%, rgba(228, 129, 219, 0.38) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color:white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.register_here{
  display:flex;
  flex-direction: row;
}
.register_here p{
  margin: 0px;
  margin-right: 5px;
}
.register_here #button{
  color: #E763DB;
  text-decoration: underline;
  background: #00000000;
  filter:none;
  outline: none;
}

.register_here button:active{
  color: #2c2590;
}
.register_here *{
  font-size: 12px;
}

/*Timeline button__________*/
.button_timeline{
  width:50px;
  height: 50px;

  position: relative;
  top: 37px;
  left: -10px;
}

.button_timeline::before{
  content:'';
  width:3px;
  height: 30px;
  background-color: #F9E4CE;
  position: absolute;
  left: 22px;
  bottom:50px;
  z-index: -1;
}

.button_timeline::after{
  content: '';
  width: 15px;
  height: 15px;
  border: 6px solid #235F65;
  background-color: #C772BA;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  bottom: 70px;
}
/*_________________________*/
/*STYLE FOR TEXT-------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-ExtraLight-BETA.ttf");
  font-weight: light;
}

@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-Regular.ttf");
}


@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: inter;
  src: url("src/assets/fonts/inter/Inter-Bold.ttf");
  font-weight: bold;
}

/*Generic text______________________*/
h2.blue_big{
  color: #233466;
  font-size: 20px;
}

p.darkblue_normal_bold{
  color: #233466;
  font-family: inter;
  font-weight: bold;
}

p.blue_small_bold{
  color: #233466;
  font-size: 10px;
  font-weight: bold;
}

p.grey_normal{
  color: #575757c4;
  font-size: 17px;
}

p.pink_normal{
  color: #C772BA;
  font-size: 20px;
}

p.pink_small_bold{
  color: #C772BA;
  font-size: 10px;
  font-weight: bold;
}

h1{
  font-size: 40px;
  color: black;
}

.profile_friends hr {
  width: 80%;
}

#OpenEvents{
  font-size: 64px;
}

@media (min-width: 768px) {

  hr {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    color:#88888857;
  }  

  p.grey_normal{
    font-size: 20px;
  }
  
  /*TIMELINE_MOVIL_________________________________*/

  #Abril2021{
    position: absolute;
    left:15%;
    top: 95px;
  }
  
  #Noviembre2021{
    position: absolute;
    left:30%;
    top: 95px;
  }
  
  #Marzo2023{
    position: absolute;
    left:75%;
    top: 95px;
  }
  
  /*____________________________________________________*/
}