.background{
    background-color: #00ADBDFF;
    background: linear-gradient(#00ADBDFF, #00ADBD00);
    border: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    background-position-x: left;
    background-position-y: top;
    display: flex;
    align-content: center;
    justify-content: center;
    background-size: cover;

}

#WelcomePage{
    padding: 0px;
    border: 0px;
    margin: 0px;

}
#WelcomePage:active{
    background-color: darkblue;
}


body {
  justify-content: start;
  margin-left: 0rem;
  margin-right: 0rem;
  margin: 0px;
}

#app {
  display: grid;
  /*width: 100%;*/
  margin: 0px;
}

nav {
  display: flex;
  justify-content: start;
}


/*STYLE FOR ELEMENTS---------------------------------------------------------------------------------------------------*/

.profile_header{
  height: 134px;
  width: 100%;
}

.basic_event{
  width: 100px;
  height: 50px;
}

.header {
  display:grid;
  padding: 15px;
  text-align: center;
  background: linear-gradient(#00adbdf6, #00adbd38);
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: start;
  width:100%;
}

.header h2{
  color: black;
  font-size: 50px;
  grid-row-start: 1;
  grid-column-start: 3;
}

#app {
  max-width: 1280px;
  margin: 0px;
  padding: 2rem auto;
  text-align: center;
}

#OpenEvents{
    font-size: 64px;
}

.navbar{
  margin-top: 15px;
  border-style: solid;
  border-color: #888888;
  padding: 10px;
  position: absolute;
  top: 0;
}


#PageTitle{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: -15vh;
  flex-direction: column;
}

/*Event elements_____________________*/
.basic_event{
  width: 324px;
  height: 141px;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4))
}

.footer_basic_event{
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  background-color: white;
  position: absolute;
  top: 117px;
  right: 0;
}

/*STYLE FOR IMAGES-----------------------------------------------------------------------------------------------------*/

/*Profile images_____________________*/
.profilePic{
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 0.75px;
  object-fit: cover;
  object-position: 100% 0;
  position: relative;
  left: -27%;
  top: -70%;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7))
}

.landscape{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/*Event images_______________________*/
.event_img{
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/*STYLE FOR BUTTONS-----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: inter;
    src: url("src/assets/fonts/inter/Inter-Medium.ttf");
}

.profileButtons{
  display: flex;
  justify-content: start;
  gap: 10px;
  position: relative;
  left: 43%;
  top: -90%;
}

.card {
  padding: 2em;
}

button {
  border-radius: 10px;
  border: 0px solid transparent;
  padding: 0.25em 0.5em;
  font-size: 1.1em;
  font-weight: 1000;
  font-family: inherit;
  background: linear-gradient(#00adbdf6, #00adbd44);
  cursor: pointer;
  transition: border-color 0.25s;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.4))

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*Router links-----------------------------*/
router-link{
  border-style: solid;
    border-color: #888888;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    background: aliceblue;
    margin: 10px

}

router-link:hover {
  background: azure;
}

/*STYLE FOR INPUTS----------------------------------------------------------------------------------------------------------*/
/* !! search bar i sing_in_output són iguals, només hauria d'haver 1*/
.searchbar{
  width: 260px;
  height: 5px;
  padding: 20px 40px 20px 20px;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 20px;
  grid-column-start: 3;
  grid-row-start: 4;
}

.sign_in_box{
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.sign_in_input{
  width: 260px;
  height: 5px;
  margin:5px;
  padding: 20px 40px 20px 20px;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 20px;
  grid-column-start: 3;
  grid-row-start: 4;
}

/*STYLE FOR TEXT-------------------------------------------------------------------------------------------------------------*/
